.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  color: black;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: white;
  text-align: center;
}


.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-form button {
  background-color: #ff3c5f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.error-msg {
  color: red;
  margin-top: 10px;
}
